#highlightContainer::-webkit-scrollbar {
  display: none;
}

#highlightContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#inputContainer {
    color: transparent;
    caret-color: #000; /* set the color of the cursor */
  }
  
  #inputContainer::placeholder {
    color: #999; /* set the color of the placeholder text */
  }
  
  #inputContainer::selection {
    background-color: rgb(0, 0, 0, 0.1);
    color: transparent;
  }

  @media (prefers-color-scheme: dark) {
    #inputContainer {
      color: transparent;
      caret-color: #fff; /* set the color of the cursor */
    }

    #inputContainer::selection {
      background-color: rgb(0, 0, 0, 0.2);
      color: transparent;
    }
  }