@font-face {
  font-family: 'Light';
  src: url('../../assets/PulpDisplay-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Regular';
  src: url('../../assets/PulpDisplay-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Medium';
  src: url('../../assets/PulpDisplay-Medium.woff2') format('woff2');
}

.font-default-light {
  font-size-adjust: 0.5;
  text-rendering: optimizeLegibility;
  font-family: 'Light', Arial, Helvetica, sans-serif;
}

.font-default-regular {
  font-size-adjust: 0.5;
  text-rendering: optimizeLegibility;
  font-family: 'Regular', Arial, Helvetica, sans-serif;
}

.font-default-medium {
  font-size-adjust: 0.5;
  text-rendering: optimizeLegibility;
  font-family: 'Medium', Arial, Helvetica, sans-serif;
}

.border-highlight {
  border-top-color: transparent;
  border-left-color: transparent;
  border-inline-end: none;
  border-inline-start: none;
}

@media (prefers-color-scheme: dark) {
  .border-highlight {
    border-bottom: none;
    border-right-color: transparent;
  }
}

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  resize: none; /* add this line to remove the white square */
}

/* Set the background color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Set the color and rounded corners of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}