@font-face {
    font-family: 'Pulp Display Light';
    font-weight: light;
    font-style: normal;

    src: url("../../assets/PulpDisplay-ExtraLight.woff2") format("woff2")
}

@font-face {
    font-family: 'Pulp Display Regular';
    font-weight: normal;
    font-style: normal;

    src: url("../../assets/PulpDisplay-Regular.woff2") format("woff2")
}

.font-pulp-light {
 font-family: 'Pulp Display Light', Arial, Helvetica, sans-serif;
}

.font-pulp-regular {
 font-family: 'Pulp Display Regular', Arial, Helvetica, sans-serif;
}